<div class="container">
  
  <% @articles.each do |article| %>
    <div class="article-account-name">
      <%= link_to article.user.account_name, user_profile_path(article.user.id) %>
    </div>
    <div class="article-content">
      <%= article.content %>
    </div>
  <% end %>

  <%#= link_to 'Profile', profile_path, class: 'btn-secondary' %>
  <%= link_to 'Sign out', destroy_user_session_path, turbo_method: :delete, class: 'btn-secondary' %>


</div>

