<div class="container">
  <%= link_to '←', root_path %>
  </br >

  <div class='profile-top'>

    <%# アカウント名を入れる %>
    <p class="account-name"><%= @user.account_name %></p>

      <%#= form_with(model: @profile, url: user_profile_path(@user.user_id), method: 'put', local: true) do |f| %>
          <div>
            <%# defaultのアバター %>
            <%= image_tag "default-avatar.png", class: "avatar-img" %>

            <%# プロフィールのアバターを変更する %>
            <%#= f.file_field :avatar %>
            <%#= f.submit 'change', class: 'btn-primary' %>

          </div>
      <%# end %>
  </div>

  <%# @user.articles.each do |article| %>
    <%#= @article.content %>
  <%# end %>

</div>