@import 'variables';

.btn-primary {
  width: $width;
  font-weight: bold;
  color: white;
  font-size: $font-size;
  background: $primary-color;
  margin-top: 100px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.btn-secondary {
  display: block;
  width: $width / 2;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  color: white;
  font-size: $font-size - 2;
  background: $primary-color;
  padding: 10px 24px;
  margin-top: 15px;
  height: 38px;
  border: none;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}