@import 'variables';

$card_height: 300px;

.card {
  background-color: $base-bg-color;
  border-radius: $border-radius;
  margin: 20px 0;
  width: $width;
  font-size: $font-size;
}

// --------- index ---------

.article_content {
  font-family: $font-family;
  margin: 15px 0;
  color: $text-second-base-color;
  font-size: $font-size - 2 ;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.article-account-name {
  font-size: $font-size;
  text-align: left;
}

.article-content {
  margin-bottom: 20px;
}

// --------- profile ---------

.profile-top {
}

.account-name {
  font-size: 10px;
}